{
  "$schema": "https://swc.rs/schema.json",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "react": {
        "runtime": "automatic",
        "importSource": "react"
      }
    },
    "target": "es2022",
    "keepClassNames": true,
    "baseUrl": "./"
  },
  "module": {
    "type": "commonjs"
  }
}
